---
import MainHead from '~/components/MainHead.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <slot />

    <style is:global>
      :root {
        --color-bg: #ede9e6;
        --color-text: #000;
        --color-text-black: #282828;
        --color-text-alt: #767474;
        --color-link: #aaa;
        --color-link-hover: #fff;
      }
      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: var(--color-bg);
        color: var(--color-text);
        font-family: 'Raleway', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      a {
        text-decoration: none;
        color: var(--color-text);
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
        color: white;
      }
    </style>
  </body>
</html>
