---
import '@fontsource-variable/inter';
import MainHead from '~/components/MainHead.astro';
import Navigation from '~/components/Navigation.astro';
import MobileNavigation from '~/components/MobileNavigation.astro';
import Contact from '~/components/Contact.astro';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <slot />
    <MobileNavigation />
    <Navigation />
    <Contact />

    <style is:global>
      @font-face {
        font-family: 'scotch-display';
        src: url('/fonts/scotch-display/scotchDisplay.otf') format('opentype');
        font-display: auto;
        font-style: normal;
        font-weight: 300;
        font-stretch: normal;
      }
      @font-face {
        font-family: 'scotch-display';
        src: url('/fonts/scotch-display/scotchDisplayItalic.otf') format('opentype');
        font-display: auto;
        font-style: italic;
        font-weight: 500;
        font-stretch: normal;
      }
      @font-face {
        font-family: 'botanika-mono-web';
        src: url('/fonts/botanika-mono-web/botanika-mono-web.otf') format('opentype');
        font-display: auto;
        font-style: normal;
        font-weight: 400;
        font-stretch: normal;
      }
      @font-face {
        font-family: 'kudryashev-d-excontrast-sans';
        src: url('/fonts/kudryashev-d-excontrast-sans/kudryashev-d-excontrast-sans.otf') format('opentype');
        font-display: auto;
        font-style: normal;
        font-weight: 300;
        font-stretch: normal;
      }
      :root {
        --color-bg: #f9f1ea;
        --color-text: #000;
        --color-text-black: #282828;
        --color-text-alt: #be725c;
        --color-gold: #d19e59;
        --color-link: #aaa;
        --color-link-hover: #fff;
      }
      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }
      body {
        font-family: 'Inter Variable', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: var(--color-bg);
        color: var(--color-text);
        padding: 0;
        margin: 0;
      }
      a {
        text-decoration: none;
        color: var(--color-text);
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        margin-bottom: 1em;
        color: white;
      }

      html.lenis {
        height: auto;
      }

      .lenis.lenis-smooth {
        scroll-behavior: auto;
      }

      .lenis.lenis-smooth [data-lenis-prevent] {
        overscroll-behavior: contain;
      }

      .lenis.lenis-stopped {
        overflow: hidden;
      }

      .lenis.lenis-scrolling iframe {
        pointer-events: none;
      }
    </style>
  </body>
</html>
